body {
  background: blue;
  width: 970px;
  margin: 0 auto;
}

H1 {
  color: #000080;
  font-size: 80px;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}

P {
  font-size: 30px;
  padding-left: 20px;
}
